extends layout

block content
    script(type='text/javascript' src='/javascripts/reset_password.js')
    .section
        .row
            .col.m8.push-m2.s10.push-s1
                h3.center-align YMCA: Password reset
                p.justify-align In order to reset your password, we'll send an 8-digit code to your registered e-mail address. After entering this code, you will be able to reset your password.
                .first-stage
                    .input-field
                        input#email.form-control(type='text' name='email' required)
                        label(for='email') Your e-mail address

                .reset-stage(hidden)
                    p.justify-align We've sent you an email containing a password reset code. Please enter it here along with a new password, and press submit.
                    .input-field
                        input#reset_code.form-control(type='text' name='reset_code' required)
                        label(for='reset_code') Password reset code
                    .input-field
                        input#password.form-control(type='password' name='password' required)
                        label(for='password') New password


                a.waves-effect.btn-large.btn-right.submit-button Submit